In [1]:
import pandas as pd
import numpy as np

In [2]:
#Pre-process code

In [3]:
csvfile=pd.read_csv("./rainfall in india 1901-2015.csv")
ff=open("dp.txt")
fg=ff.read()
ff.close()
dd=np.array(csvfile)

In [4]:
print("Places to analyze rainfall on: "+'\n'+',\n'.join((np.unique(dd[:,0]))))

Places to analyze rainfall on:
ANDAMAN & NICOBAR ISLANDS,
ARUNACHAL PRADESH,
ASSAM & MEGHALAYA,
BIHAR,
CHHATTISGARH,
COASTAL ANDHRA PRADESH,
COASTAL KARNATAKA,
EAST MADHYA PRADESH,
EAST RAJASTHAN,
EAST UTTAR PRADESH,
GANGETIC WEST BENGAL,
GUJARAT REGION,
HARYANA DELHI & CHANDIGARH,
HIMACHAL PRADESH,
JAMMU & KASHMIR,
JHARKHAND,
KERALA,
KONKAN & GOA,
LAKSHADWEEP,
MADHYA MAHARASHTRA,
MATATHWADA,
NAGA MANI MIZO TRIPURA,
NORTH INTERIOR KARNATAKA,
ORISSA,
PUNJAB,
RAYALSEEMA,
SAURASHTRA & KUTCH,
SOUTH INTERIOR KARNATAKA,
SUB HIMALAYAN WEST BENGAL & SIKKIM,
TAMIL NADU,
TELANGANA,
UTTARAKHAND,
VIDARBHA,
WEST MADHYA PRADESH,
WEST RAJASTHAN,
WEST UTTAR PRADESH

In [5]:
rowss=fg.split('kktx')[1:116]
len(rowss)#1900-2014

115

In [6]:
matt=[r.split("kkty") for r in rowss]

In [7]:
mat=[x[1].replace("\nGoddess Durga Departure on "," ").replace("Goddess Durga Arrival on ","").replace("\n","").split() for x in matt]

In [8]:
print("List of carriers of Devi: "+', '.join(np.unique(ar=np.matrix(mat).flatten().tolist())))

List of carriers of Devi: Boat, Buffalo, Charanayudha, Elephant, Horse, Nara, Palanquin

In [9]:
#Analyzer code

In [18]:
targetyears=np.where(np.array(mat)[:,0]=="Elephant")[0]
mask=[True]*115;
mask=np.array(mask)
mask[np.array(targetyears)]=False

In [19]:
print("Average rainfall in years where Devi arrived on Elephant : "+str(np.mean(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][targetyears,14])))
print("Average rainfall in years where Devi did not arrive on Elephant : "+str(np.mean(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][mask,14])))

Average rainfall in years where Devi arrived on Elephant : 1536.3344827586207
Average rainfall in years where Devi did not arrive on Elephant : 1475.027906976744

In [20]:
targetyears=np.where(np.array(mat)[:,1]=="Elephant")[0]
mask=[True]*115;
mask=np.array(mask)
mask[np.array(targetyears)]=False

In [21]:
print("Average rainfall in years where Devi departed on Elephant : "+str(np.mean(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][targetyears,14])))
print("Average rainfall in years where Devi did not depart on Elephant : "+str(np.mean(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][mask,14])))

Average rainfall in years where Devi departed on Elephant : 1500.526086956522
Average rainfall in years where Devi did not depart on Elephant : 1487.9782608695648

In [22]:
targetyears=np.where((np.array(mat)[:,1]=="Elephant")&(np.array(mat)[:,0]=="Elephant"))[0]
mask=[True]*115;
mask=np.array(mask)
mask[np.array(targetyears)]=False

In [23]:
print("Average rainfall in years where Devi arrived and departed on Elephant : "+str(np.mean(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][targetyears,14])))
print("Average rainfall in years where Devi did not both depart and arrive on Elephant : "+str(np.mean(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][mask,14])))

Average rainfall in years where Devi arrived and departed on Elephant : 1527.8666666666668
Average rainfall in years where Devi did not both depart and arrive on Elephant : 1488.4302752293577

In [50]:
targetyears=np.where((np.array(mat)[:,1]=="Elephant")&(np.array(mat)[:,0]=="Elephant"))[0]
mask=[True]*115;
mask=np.array(mask)
mask[np.where(~((np.array(mat)[:,1]!="Elephant")&(np.array(mat)[:,0]!="Elephant")))[0]]=False

In [52]:
print("Number of datapoints : "+str(len(targetyears)))
print("Average rainfall in years where Devi arrived and departed on Elephant : "+str(np.mean(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][targetyears,14])))
print("Average rainfall in years where Devi did neither depart nor arrive on Elephant : "+str(np.mean(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][mask,14])))
print("")
print("Median rainfall in years where Devi arrived and departed on Elephant : "+str(np.median(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][targetyears,14])))
print("Median rainfall in years where Devi did neither depart nor arrive on Elephant : "+str(np.median(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][mask,14])))

Average rainfall in years where Devi arrived and departed on Elephant : 1527.8666666666668
Average rainfall in years where Devi did neither depart nor arrive on Elephant : 1471.1231884057968

Median rainfall in years where Devi arrived and departed on Elephant : 1510.4499999999998
Median rainfall in years where Devi did neither depart nor arrive on Elephant : 1406.4

In [53]:
targetyears=np.where((np.array(mat)[:,0]=="Boat"))[0]
mask=[True]*115;
mask=np.array(mask)
mask[targetyears]=False

In [54]:
print("Number of datapoints : "+str(len(targetyears)))
print("Average rainfall in years where Devi arrived by Boat : "+str(np.mean(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][targetyears,14])))
print("Average rainfall in years where Devi did not arrive by Boat : "+str(np.mean(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][mask,14])))
print("")
print("Median rainfall in years where Devi arrived by Boat : "+str(np.median(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][targetyears,14])))
print("Median rainfall in years where Devi did not arrive by Boat : "+str(np.median(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][mask,14])))

Average rainfall in years where Devi arrived by Boat : 1462.846153846154
Average rainfall in years where Devi did not arrive by Boat : 1494.0107843137253

Median rainfall in years where Devi arrived by Boat : 1395.4
Median rainfall in years where Devi did not arrive by Boat : 1490.65

In [55]:
targetyears=np.where((np.array(mat)[:,0]=="Horse"))[0]
mask=[True]*115;
mask=np.array(mask)
mask[targetyears]=False
print("Number of datapoints : "+str(len(targetyears)))
print("Average rainfall in years where Devi arrived on Horse : "+str(np.mean(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][targetyears,14])))
print("Average rainfall in years where Devi did not arrive on Horse : "+str(np.mean(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][mask,14])))
print("")
print("Median rainfall in years where Devi arrived on Horse : "+str(np.median(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][targetyears,14])))
print("Median rainfall in years where Devi did not arrive on Horse : "+str(np.median(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][mask,14])))

Average rainfall in years where Devi arrived on Horse : 1439.4102564102568
Average rainfall in years where Devi did not arrive on Horse : 1516.6986842105262

Median rainfall in years where Devi arrived on Horse : 1400.0
Median rainfall in years where Devi did not arrive on Horse : 1500.35

In [59]:
targetCarrier="Palanquin"
targetyears=np.where((np.array(mat)[:,0]==targetCarrier))[0]
mask=[True]*115;
mask=np.array(mask)
mask[targetyears]=False
print("Number of datapoints : "+str(len(targetyears)))
print("Average rainfall in years where Devi arrived by "+targetCarrier+" : "+str(np.mean(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][targetyears,14])))
print("Average rainfall in years where Devi did not arrive by "+targetCarrier+" : "+str(np.mean(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][mask,14])))
print("")
print("Median rainfall in years where Devi arrived on "+targetCarrier+" : "+str(np.median(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][targetyears,14])))
print("Median rainfall in years where Devi did not arrive by "+targetCarrier+" : "+str(np.median(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][mask,14])))

Number of datapoints : 34
Average rainfall in years where Devi arrived by Palanquin : 1520.541176470588
Average rainfall in years where Devi did not arrive by Palanquin : 1477.8728395061726

Median rainfall in years where Devi arrived on Palanquin : 1526.4
Median rainfall in years where Devi did not arrive by Palanquin : 1475.8

In [62]:
targetCarrier="Buffalo"
targetyears=np.where((np.array(mat)[:,1]==targetCarrier))[0]
mask=[True]*115;
mask=np.array(mask)
mask[targetyears]=False
print("Number of datapoints : "+str(len(targetyears)))
print("Average rainfall in years where Devi departed by "+targetCarrier+" : "+str(np.mean(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][targetyears,14])))
print("Average rainfall in years where Devi did not depart by "+targetCarrier+" : "+str(np.mean(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][mask,14])))
print("")
print("Median rainfall in years where Devi departed on "+targetCarrier+" : "+str(np.median(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][targetyears,14])))
print("Median rainfall in years where Devi did not depart by "+targetCarrier+" : "+str(np.median(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][mask,14])))

Number of datapoints : 33
Average rainfall in years where Devi departed by Buffalo : 1517.3666666666668
Average rainfall in years where Devi did not depart by Buffalo : 1479.670731707317

Median rainfall in years where Devi departed on Buffalo : 1521.0
Median rainfall in years where Devi did not depart by Buffalo : 1464.9

In [63]:
targetCarrier="Nara"
targetyears=np.where((np.array(mat)[:,1]==targetCarrier))[0]
mask=[True]*115;
mask=np.array(mask)
mask[targetyears]=False
print("Number of datapoints : "+str(len(targetyears)))
print("Average rainfall in years where Devi departed by "+targetCarrier+" : "+str(np.mean(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][targetyears,14])))
print("Average rainfall in years where Devi did not depart by "+targetCarrier+" : "+str(np.mean(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][mask,14])))
print("")
print("Median rainfall in years where Devi departed on "+targetCarrier+" : "+str(np.median(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][targetyears,14])))
print("Median rainfall in years where Devi did not depart by "+targetCarrier+" : "+str(np.median(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][mask,14])))

Number of datapoints : 25
Average rainfall in years where Devi departed by Nara : 1411.588
Average rainfall in years where Devi did not depart by Nara : 1512.4044444444442

Median rainfall in years where Devi departed on Nara : 1337.8
Median rainfall in years where Devi did not depart by Nara : 1513.4

In [64]:
targetCarrier="Charanayudha"
targetyears=np.where((np.array(mat)[:,1]==targetCarrier))[0]
mask=[True]*115;
mask=np.array(mask)
mask[targetyears]=False
print("Number of datapoints : "+str(len(targetyears)))
print("Average rainfall in years where Devi departed by "+targetCarrier+" : "+str(np.mean(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][targetyears,14])))
print("Average rainfall in years where Devi did not depart by "+targetCarrier+" : "+str(np.mean(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][mask,14])))
print("")
print("Median rainfall in years where Devi departed on "+targetCarrier+" : "+str(np.median(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][targetyears,14])))
print("Median rainfall in years where Devi did not depart by "+targetCarrier+" : "+str(np.median(dd[np.where(dd[:,0]=="GANGETIC WEST BENGAL")][mask,14])))

Number of datapoints : 34
Average rainfall in years where Devi departed by Charanayudha : 1515.6235294117646
Average rainfall in years where Devi did not depart by Charanayudha : 1479.9370370370366

Median rainfall in years where Devi departed on Charanayudha : 1517.15
Median rainfall in years where Devi did not depart by Charanayudha : 1463.6